:root{
    --almost-white: hsl(0, 0%, 98%);
    --meduim-gray:hsl(0, 0%, 41%);
    --almost-black:hsl(0, 0%, 8%);
    --weight1: 500;
    --weight2: 700;
}
@font-face {
    font-family: "Epilogue";
    src: url("https://fonts.google.com/specimen/Epilogue");
}
body{
    background-color: var(--almost-white);
}
p{
    font-size: 18px;
    color: var(--meduim-gray);
}
a{
    text-decoration: none;
    cursor: pointer;
    color: var(--meduim-gray);
}

.link{
    display: flex;
    width: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    border: solid var(--meduim-gray) 1px;
    border-radius: 10px;
}

.link__black{
    background-color: var(--almost-black);
    color: var(--almost-white);
}

/* mobile menu */
/* .mobile-icon{
    display: none;
}


.mobile-menu{
    display: none;
} */
/* ================================NAVBAR========================== */

.mobile-icon-container {
    width: 25px;
    display: none;
}
 
.mobile-icon {
    width: 100%;
}

nav{
    height: 80px;
    display: flex;
    /* permet de déplacer les élèments à l'interieur en utilisant postion:absolute */
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 65%;
}
nav .menu .menu__item{
    margin-left: 15px;
}

nav .logins{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
}
nav .logins .logins__item{
    margin: 15px;
}


/* =============================CONTAINER=========================== */

.container{
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: row;
}

.container .content-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 20px;
   
}
.container .content-left .brand-text{
    height: 300px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .content-left .brand-text h1{
    font-family: 'Epilogue';
    font-weight: var(--weight2);
    font-size: 65px;
    color: var(--almost-black);
}
.container .content-left .brand-logo{
    height: 100px;
    width: 80%;
    display: flex;
    flex-direction: row;
    /* aligne les elts sur le cross axis */
    align-items: flex-end;
    gap: 20px;
}
/* on rempli la parte droite avec l'image */
.container .content-right{
    flex: 1;
    background-image: url(../images/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
}

@media only screen and (max-width: 600px){
    .menu {
        display: none;
    }
    
    /* nav {
        display: none;
    } */
    .mobile-icon-container {
        display: block;
    }
    
    .mobile-icon{
        display: block;
    }
    p{
        font-size: 18px;
        color: var(--almost-black);
        align-items: center;
    }
    a{
        display: none;

    }

    .link{
        display: none;
    }
    
    .link__black{
        background-color: var(--almost-black);
        color: var(--almost-white);
        align-items: center;
    }

    .container{
        flex-direction: column-reverse;
    }

}